/* GENERAL LAYOUT */
body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
#div_menu {
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}
/* no selectable text */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

html {
    overflow-y: hidden; 
}




/* LOGO */
#logo {
    width: 2%;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}





/* TEAM SELECTORS*/
.chosen-container {
    float: left;
    margin-left: 60px;
    margin-top: 27px;
}

.chosen {
    width: 180px;
    color: black;

}

.chosen-container-single .chosen-single span {
    font-size: 19px;
}

.chosen-container .chosen-results{
    font-size: 19px;
}





/* SEASONS SELECTOR */
/* range slider: http://ionden.com/a/plugins/ion.rangeSlider/start.html */
.irs--flat.irs-with-grid { 
    width: 300px;
    float: left;
    margin-left: 60px;
    margin-top: 9px;

}

span.irs-grid-text.js-grid-text-0, span.irs-grid-text.js-grid-text-1, span.irs-grid-text.js-grid-text-2, span.irs-grid-text.js-grid-text-3, span.irs-grid-text.js-grid-text-4  {
    color: black;
}

#div_menu > span > span.irs-bar {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(38,163,215,1) 100%)
}

#div_menu > span > span.irs > span.irs-from, #div_menu > span > span.irs > span.irs-to {
    color:white;
    background-color: rgba(38,163,215,1);
}

#div_menu > span > span.irs-handle.to.type_last > i:nth-child(1) {
    color: black;
}




/*TABLE */
.table_row {
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -khtml-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out;
    -khtml-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

tr#legend_table {
    border-bottom: 1px solid black;
}

table {
    width: 716px; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
}

table.no-spacing {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}



/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(38,163,215,1) 100%);
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}




/* CREDITS BOX */
#div_credits {
    float: left;
    margin-left: 750px;
    margin-top: 60px;
    user-select: none;
}





/* LOADER */
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
    background-image: url(../media/background_loading.jpg);
    background-size: cover;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(75vh - 75px);
    left: calc(50.5vw - 75px);

}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 4s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}
@keyframes loader {
    0%{
        transform: scale (0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

#logo_loading {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

#course, #year, #names {
    text-align: center;
}

#course {
    font-size: 140%;
    color: white;
}

#names {
    font-size: 100%;
    color: black;
}

#year {
    font-size: 80%;
    color: white;
}

#title_quotes {
    font-size: 17px;
    font-weight: normal;
    white-space: pre;
    opacity: 1;
    font-family: "Open Sans", verdana, arial, sans-serif;
    color: rgb(68, 68, 68);
    text-align: center;
}

h1#legend_quotes {
    font-size: 14px;
    font-weight: normal;
    opacity: 1;
    font-family: "Open Sans", verdana, arial, sans-serif;
    color: rgb(68, 68, 68);
    text-align: center;
}



/* LAYOUT DIVISION */
#div_graphs_table {
    position: absolute;
    float: right;
    width: 100%;
    height: 90.5%;
}

#div_sx_container {
    position: absolute;
    float: right;
    width: 80%;
    height: 102.2%;
    background-color: whitesmoke;
    border: 0.2px solid black;
}

#div_dx_container {
    float: right;
    width: 20%;
    background-color: whitesmoke;
    height: 102.2%;
    border: 0.2px solid black;
}

#div_dx_container_top{
    float:right;
    width: 100%;
    height: 3%;
}

#div_dx_container_bottom{
    float:right;
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}

#div_goals {
    position: absolute;
    float: left;
    width: 50%;
    height: 55%;
    border-left: 0.2px solid black; 
    border-bottom: 0.2px solid black;
}

#div_quotes {
    position: absolute;
    width: 50%;
    height: 55%;
    margin-left: 50%;
    border-left: 0.2px solid black; 
    border-bottom: 0.2px solid black; 
}

#div_shots_teamA {
    position: absolute;
    width: 25%;
    height: 45%;
    top: 55%;
    border-left: 0.2px solid black; 
    border-bottom: 0.2px solid black; 
    background-color: white;
}

#div_shots_teamB { 
    position: absolute;
    width: 25%;
    height: 45%;
    top: 55%;
    left: 25.06%;
    border-right: 0.2px solid black; 
    border-bottom: 0.2px solid black; 
    z-index: 2;
    background-color: white;
}

#div_cards {
    position: absolute;
    width: 50%;
    height: 45%;
    margin-left: 50%;
    top: 55%;
    border-left: 0.2px solid black; 
    border-bottom: 0.2px solid black; 
}








/* FOULS AND RED CARDS CHART */
#chart {
    margin-left: 30px;
    margin-top: 30px;
}











