/* GENERAL LAYOUT */
body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
#div_menu {
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}





/* LOGO */
#logo {
    width: 2%;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}





/* TEAM SELECTORS*/
.chosen-container {
    float: left;
    margin-left: 60px;
    margin-top: 27px;
}

.chosen {
    width: 180px;
    color: black;

}

.chosen-container-single .chosen-single span {
    font-size: 19px;
}

.chosen-container .chosen-results{
    font-size: 19px;
}





/* SEASONS SELECTOR */
/* range slider: http://ionden.com/a/plugins/ion.rangeSlider/start.html */
.irs--flat.irs-with-grid { 
    width: 300px;
    float: left;
    margin-left: 60px;
    margin-top: 9px;
    
}

span.irs-grid-text.js-grid-text-0, span.irs-grid-text.js-grid-text-1, span.irs-grid-text.js-grid-text-2, span.irs-grid-text.js-grid-text-3, span.irs-grid-text.js-grid-text-4  {
    color: black;
}

#div_menu > span > span.irs-bar {
    background: rgb(0,0,0);
    background:  linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(38,163,215,1) 100%)
}

#div_menu > span > span.irs > span.irs-from, #div_menu > span > span.irs > span.irs-to {
    color:white;
    background-color: rgba(38,163,215,1);
}

#div_menu > span > span.irs-handle.to.type_last > i:nth-child(1) {
    color: black;
}





/* CREDITS BOX */
#div_credits {
    float: left;
    margin-left: 750px;
    margin-top: 60px;
    user-select: none;
}



















